/* base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anek Latin', sans-serif;
}
body {
    background-color: #040f1d;
}

/* default button:focus */
button:focus {
    outline: none;
    opacity: 0.9;
}
/* default */
.display-none {
    display: none;
}
.display-block {
    display: block;
}
/* header */
.todo-header  {
    font-family: 'Source Sans Pro', sans-serif;
    color: hsl(202, 27%, 70%);
    width: 100%;
    display: grid;
    place-items: center;
    min-height: 15vh;
}
.todo-header span {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    transition: all 300ms ease-out;
}
.todo-header h1 {
    font-family: 'Source Sans Pro', sans-serif;
}
.todo-header span:hover,
.no-user-header:hover {
    cursor: pointer;
    color: rgb(255, 228, 174);
}

/* Modal */
.overlay{
    content: '';
    position: fixed;
    background-color: rgba(0, 0, 0, 0.528);
    z-index: 10;
    inset: 0;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background-color: rgb(6, 23, 37);
    color: rgba(255, 255, 255, 0.526);
    border: 1px solid rgb(84, 84, 84);
    border-radius: 10px;
}
.modal label {
    display: block;
    margin: .5em 0;
    color: rgba(69, 190, 255, 0.975);
    text-shadow: 0px 0px 5px rgba(69, 190, 255, 0.975);
    font-weight: bold;
}
.modal input[type="text"] {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    background: none;
    border: .12em solid rgba(255, 255, 255, 0.573);
    padding: .2em .3em;
    outline: none;
    color: rgba(223, 223, 223, 0.85);
    border-radius: 6px;
    transition: all 500ms linear;
}
.modal input[type="text"]:focus {
    border-color:rgba(132, 212, 255, 0.75);
}
.modal button {
    position: relative;
    background: none;
    color: rgb(8, 172, 8);
    font-weight: bolder;
    padding: .2em .3em;
    border: 2px solid rgb(0, 193, 0);
    border-radius: 10px;
    margin-left: 1em;
    transition: all 200ms ease-in;
    box-shadow: 0 0 5px rgba(144, 238, 144, 0), inset 0 0 5px rgba(144, 238, 144, 0);
}
.modal button:hover {
    cursor: pointer;
    color: rgb(8, 172, 8);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(145, 240, 145, 0.7), inset 0 0 5px rgba(144, 238, 144, 0.7);
}
/* 
*
* Category Bar 
*
*/
.category-form {
    min-height: 8vh;
    background-color: rgba(0, 0, 0, 0.303);
    justify-content: space-evenly;
    display: flex;
    gap: 2em;
    align-items: center;
}
.category-add {
    height: 100%;
}
.category-div {
    position: relative;
    
}
.category-div:hover .category-delete {
    display: inline;
}
.category-delete {
    display: none;
    padding: .2em;
    position: absolute;
    top: 0;
    background: none;
    border: none;
    color: white;
    border-radius: 50%;
}
.category-delete:hover {
    cursor: pointer;
    color: red;
}
.category-form input[type="radio"] {
    visibility: hidden;
    width: 0;
}
.category-form label {
    color: white;
    font-size: 1.3em;
    height: 100%;
}
.category-form label:hover {
    cursor: pointer;
}
.category-add-btn {
    position: relative;
    background-color: transparent;
    border: none;
    color: rgb(202, 225, 25);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.622);
    font-weight: 600;
    padding: .3em;
    font-size: 1em;
    transition: color 200ms ease-in-out;
}
.category-add-btn::after {
    content: '';
    position: absolute;
    background-color: rgba(202, 225, 25, 0.695);
    width: 0;
    height: 2px;
    bottom: 1px;
    left: 50%;
    transition: all 300ms ease-in-out;
}
.category-add-btn:hover {
    cursor: pointer;
}
.category-add-btn:hover::after {
    width: 90%;
    left: 5%;
}
.category-form label {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0);
    transition: all 300ms ease-in;
}
.category-form label::after {
    content: '';
    position: absolute;
    background-color: rgb(17, 207, 236);
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 50%;
    transition: all 300ms ease-in-out;
}
.category-form label:hover::after {
    width: 110%;
    left: -5%;
}
.category-form input[type="radio"]:checked + label {
    color: rgb(17, 207, 236);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.824);
}
.category-input-form input,
.category-input-form button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: .7em;
    padding: 0.15em;
}
.category-input-form input {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    transition: all 200ms linear;
    border-right: none;
}
.category-input-form input:focus {
    outline: none;
    border: 1px solid rgba(132, 212, 255, 0.75);
    margin-right: .3em;
}
.category-input-form button {
    border-left: none;
    width: 1.5em;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    transition: all 200ms linear;
}
.category-input-form input:focus + button {
    border: 1px solid rgba(255, 255, 255, 0.7);
}
.category-input-form button:hover {
    cursor: pointer;
    color: rgb(0, 203, 0);
    box-shadow: 0 0 5px rgb(0, 203, 0);
}
.category-input-form button:active {
    border: 1px solid white;
}

#menu-btn {
    position: absolute;
    right: 1em;
    top: 1em;
    display: none;
    color: rgb(229, 229, 229);
}
@media (max-width: 630px) {
    
    .category-form {
        flex-direction: column;
        padding-top: min(5vh, 1em);
        padding-bottom: min(5vh, 1em);
        transform: translateY(-100%);
        display: none;
    }
    #menu-btn {
        display: block;
        transition: all 200ms ease-out;
    }
    #menu-btn:hover {
        cursor: pointer;
        color: rgb(255, 228, 174);
    }
    #menu-btn[aria-expanded="true"] {
        transform: rotate(90deg);
    }
    /* when menu btn is pressed put the form back to where it was */
    .category-form[data-state="open"] {
        transform: none; 
        display: flex;
    }
}
/* 
*
* Add Task 
*
*/
.add-task-form {
    --form-border-radius: 5px;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2.5em;
}
.add-task-form div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-task-form .task-input,
.add-task-form .task-submit {
    padding: 0.3em;
    font-size: 1.5em;
    border: none;
    background-color: white;
}
.add-task-form .task-input {
    border-radius: var(--form-border-radius) 0 0 var(--form-border-radius);
    min-width: 40%;
    height: 100%;
}
.add-task-form .task-input:focus {
    outline: none;
}

.add-task-form .task-submit {
    position: relative;
    border-radius: 0 var(--form-border-radius) var(--form-border-radius) 0;
    width: 2em;
    transition: all 200ms ease-in-out;
}
.add-task-form .task-submit::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 3px -3px 10px  rgb(0, 0, 0);
    opacity: 0;
    transition: all 500ms ease-out;
}
.add-task-form .task-submit:hover {
    color: green;
    outline: none;
    cursor: pointer;
}
.add-task-form .task-submit:hover::after {
    opacity: 1
}
.add-task-form .task-submit:active {
    transform: scale(1.05);
}
.add-task-form .task-desc {
    min-width: 40%;
    border: none;
    outline: none;
    resize: none;
    height: 100%;
    line-height: 1.5em;
    padding: 0.3em;
    border-radius: 0 0 var(--form-border-radius) var(--form-border-radius);
}
@media (max-width: 630px) {
    .add-task-form {
        --form-border-radius: 2px;
    }
    .task-input {
        width: 90%;
    }
    .task-desc {
        width: 80%;
    }
}

/* 
*
* List 
*
*/
.list {
    min-width: 40%;
    list-style-type: none;
}
.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    margin: 0 auto;
    min-height: 5vh;
    margin-bottom: 3vh;
    padding-left: .2em;
    background-color: rgb(255, 242, 216);
    border-radius: 10px 0 10px 10px;
}
.list-item .title-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.list-item h3 {
    margin-left: .5em;
    font-size: 1.4em;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}
.list-item .button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.list-item button {
    background: none;
    border: none;
    padding: 1rem;
    transition: all 200ms ease-out;
}
.list-item .description {
    padding: 1em;
    padding-left: .25em;
    font-size: 1.1em;
    text-align: center;
}
.list-item .complete {
    background-color: hsl(120, 100%, 40%);
}
.list-item .complete:hover {
    background-color: hsl(120, 100%, 67%);
    cursor: pointer;
}
.list-item .delete {
    background-color: hsl(0, 95%, 40%);
}
.list-item .delete:hover {
    cursor: pointer;
    background-color: hsl(0, 100%, 67%);
}
.completed-true {
    transition: all 300ms ease-out;
    opacity: 0.5;
    color: gray;
}
.completed-false {
    transition: all 300ms ease-in;
}
/* List Mobile */
@media (max-width: 630px) {
    .list-item {
        max-width: 100%;
        border-radius: 0;
    }
}